html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Rubik", sans-serif;
 
}

.phone-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.phone{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width:300px;
    height: 600px;
    background-image: url(images/back1.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
   


#enterFullscreen{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(46, 171, 169, 0.795);
    color: white;
    padding-bottom: 5px;

}

.top{
    position: absolute;
    top: 5px;
    height: 20px;
    width: 100%;
    color: white;
}

#clock{
    position: absolute;
    left: 10px;
}
#reception{
    position: absolute;
    top: 0;
    right: 70px;
    width: 30px;
    height: 80%;
}


#connection{
    position: absolute;
    right: 45px;
}

#battery{
    position: absolute;
    top: 3px;
    right: 10px;
    width: 30px;
    height: 60%;
}


.applications {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: absolute;
    height: 60%;
    width: 100%;
    top:200px;
    left: 50%;
    transform: translateX(-50%);
}

.app {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
   
}

.app:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 10px;
    
}

.app-link {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    color: white;
}


@media screen and (max-width: 700px) {
    .phone{
        width: 100%;
        height: 100vh;
    }
}


